.nav-item a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right:10px;
}
.nav-item{
    margin-right:20px;
}
.navbar{
    background-color: rgb(23,33,85);
}
.logo{
    height:80px;
}
.User a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-right:10px;
    padding-bottom:4px;
    /* background-color: rgba(65, 107, 177, 1); */
    border-radius: 6px;
    padding-left: 13px;
}
.User{
    height: 31px;
    width: 169px;
}
.signBtn{
    background-color: rgb(211, 207, 201);
}
.logBtn{
    background-color: rgba(65, 107, 177, 1);
}