body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

td.rmv_border{
  border: none;
}
.each_person_data{
    border: solid black 2px;
}

td.first_row_col{
    /* padding-top: 25px; */
    /* height: 55px; */
    padding-top: 9px;

}
span.badge{
    font-size: 14px;
}

tr.td{
  border: none;
}

.row {
    display: flex;
  }
  
  .cell {
    flex: 1;
    padding: 5px;
  }

  footer {
    background-color: #172155;
    margin-top: auto;
  }
  
  
nav{
  background-color: #172155;
}
span.badge {
  background-color: #f7f1f1;
}

form.updateForm{
  margin: 1% 20% auto 20%;
}
button.editBtn{
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 9px;
}
i.fa-circle-check,i.fa-trash{
  font-size: larger;
}
i.update_driver,i.add_driver{
  margin-left: 10%;
  margin-right: 15%;
}
.footer_section .container{
  border: 0;
}

.social_link a{
  text-decoration: none ;
}
.dashboardof_Admin{
  display: flex;
  padding: 1%;
}
.transaction_pieChart{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.head_of_transaction_table{
  display: flex;
  justify-content: space-between;
}
.recent_transaction{
  background-color: #F7F1F1;
  box-shadow: 2px 2px 5px;
  height: 440px;
}
.recent_vehicle_data{
  width: 55%;
  /* height: 100px; */
}
.header_recent_data{
  margin: 1% 3%;
}
.recent_vehicle_td{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
}
.recent_vehicle_model{
  margin-bottom: 2%;
}
.rentalDetails{
  display: flex;
  flex-direction: column;
  margin-right: 1%;
}
.first_car{
  display: flex;
  margin-bottom: 0px;
  /* margin-top: 1%; */
}
.car_details{
  margin-left: 10%;
  margin-top: 5%;
}
.first_car_pickup{
  margin-top: 5%;
  display: flex;
  margin-top: 0px;
  margin-bottom: 5%;
  margin-left: 1%;
}
.location_icon{
  margin-top: 1.5%;
  margin-right: 1%;
}
.pick_up_details{
  margin-right: 5%;
}
.map_of_first_Car{
  margin-bottom: 2%;
}
.car_number_one{
  background-color: #f7f1f1;
  margin-top: 1%;
  box-shadow: 2px 2px 5px;
}
.car_content{
  display: flex;
  margin: 1% 3%;
  justify-content: space-between;
}
.car_info{
  display: flex;
  /* justify-content: space-between; */
}
.diesel_gas_capacity{
  padding-right: 2%;
  margin-top: 1.5%;
}
/* .car_info_content{
  margin-right: 3%;
} */
.car_detail_info{
  margin-right: 10%;
}
/* .card{
  box-shadow: 2px 2px 5px;
} */