#greetings {
    text-align: center;
    padding-top: .5em;
}

.rideTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .3em 1em;
    gap: 1em;
}

.carIcon {
    width: 70px;
}

.rideTitle > h2 {
    font-weight: 700;
}

.ride {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#ride_map {
    width: 720px;
    height: 560px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
    margin-bottom: 1em;
    /* z-index: -1; */
    overflow: hidden;
}

/* #ride_mapBox > p {
    margin-bottom: 50%;
    margin-top: 40%;
    text-align: center;
} */

.divider {
    margin: 0 1em;
}

.rideInfoBox {
    width: 480px;
    height: 560px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px;
}

.rideInfoBox > h5 {
    font-weight: 600;
    margin-bottom: .5em;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    padding: .5em;
}

.rideInfoBox > p {
    text-align: center;
    margin-top: 50%
}

#estTime {
    text-align: center;
    width: 100%;
}

.driver_details{
    text-align: left;
}

.driver_details > h5 {
    font-weight: 600;
    margin-bottom: .5em;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    padding: .5em;
}

.driver_details > p {
    margin: 0;
    padding: .5em;
}
#rideCarImg {
    width: 300px;
    padding: 0 auto;
    object-fit: cover;
    align-self: center;
}

#rideInfo {
    margin: 0 auto;
    padding: 0 .1em;
    display: flex;
    flex-direction: column;
}

#carName {
    text-align: center;
    font-weight: 700;
}

.car_type {
    display: flex;
    justify-content: center;
    gap: 1em;
    border-bottom: 1px solid #ccc;
    /* padding: 0 .5em; */
}

.bookBtn {
    margin: .1em auto;
    width: 50%;
    text-align: center;
    padding: .5em;
    border-radius: 5px;
    background-color: darkorange;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.bookBtn:hover {
    background-color: orange;
}

#backBtn {
    /* margin: .1em auto; */
    margin-left: 1em;
    width: 10%;
    text-align: center;
    padding: .2em;
    border-radius: 5px;

    background-color: #fff;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    border: .3px solid #ccc;
}

.backBtn:hover {
    background-color: #ccc;
}

.ride_details {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .1em;
    padding: 1em;
}

.loc_bar {
    margin-bottom: 1.4em;
}

.loc_bar > input {
    /* width: 100%; */
    padding: .5em;
    border-radius: 5px 0 0 5px;
    border: .3px solid #ccc;
    outline: none;
}

.loc_bar > button {
    /* border: none; */
    /* background-color: transparent; */
    cursor: pointer;
    margin-left: -1em;
    border-radius: 0 5px 5px 0;
    border: .3px solid #ccc;
    outline: none;
    padding: .5em;
}

.ride_price {
    margin-bottom: 1.4em;
}